.textWarning {
  font-size: 24px;
  color: rgb(34, 13, 4);
}
.movieDetailWrap {
  margin: 8px;
  max-width: 1400px;
}
.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 100px;
  height: 40px;
  background: #393786;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffffd0;
  cursor: pointer;
  margin-left: 10px;
}

.arrow {
  padding-right: 6px;
}

.btn:hover {
  background: #6c8cff;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: rgb(15, 7, 26);
}
.poster {
  display: flex;
  border-radius: 6px;
  justify-content: space-around;
  gap: 20px;
  background-color: #e8ebfa;
}
.textOverview {
  color: rgb(15, 7, 26);
  font-size: 24px;
}

.img {
  border-radius: 10px;
}

.castReviewsWrap {
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding: 10px;
  font-size: 24px;
  color: rgb(15, 7, 26);
  background: #c4c2c2;
  margin-top: 12px;
}
.active {
  color: rgb(228, 91, 41);
}
